* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: initial;
    font-family: "open sans", Arial, Helvetica, sans-serif;
    font-weight: initial;
}

.container {
    height: 100vh;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100vw;
}

.header {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    margin: 0 2%;


}

.header .try {
    border: 1px solid hsl(321, 100%, 78%);
    padding: 5px 20px;
    color: hsl(321, 100%, 78%);
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.header>img {
    scale: 0.5;
    transform: translatex(-50%);
    -webkit-transform: translatex(-50%);
    -moz-transform: translatex(-50%);
    -ms-transform: translatex(-50%);
    -o-transform: translatex(-50%);
}



.header .try:hover {
    color: hsl(322, 100%, 66%);
    border-color: hsl(322, 100%, 66%);
    cursor: pointer;
}

.build {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-top: 30px;
}

.build h1 {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.build span {
    font-weight: 400;
    margin: 20px;
    padding: 10px;
    width: 80%;

}

.start {
    text-decoration: none;
    padding: 15px 50px;
    border-radius: 10% 50%;
    -webkit-border-radius: 10% 50%;
    -moz-border-radius: 10% 50%;
    -ms-border-radius: 10% 50%;
    -o-border-radius: 10% 50%;
    background-color: hsl(322, 100%, 66%);
    color: white;
    font-weight: 400;
    margin: 30px 0;
}

.start:hover,
.right button:hover {
    background-color: hsl(321, 100%, 78%);
    cursor: pointer;
    color: white;
}

.desktop {
    display: flex;
    justify-content: center;
    margin: 30px 0;

}

.desktop>img {
    width: 70%;

}

.numbers {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;

}

.comm .k>div,
.mess .m>div {
    font-weight: 700;
    font-size: 60px;
    padding: 20px;
}

.comm .k>p,
.mess .m>p {
    font-weight: 400;
    color: hsl(205, 7%, 65%);
    margin-bottom: 70px;
    text-align: center;
}

.grow,
.flow,
.user {
    display: flex;
    flex-direction: column;
}



.illus {
    background-color: hsl(207, 100%, 98%);
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    text-align: center;

}



.illus img {
    scale: 40%;
    width: 60%;
}


.illus .text {

    width: 60%;
    margin-bottom: 50px;
}




.illus .text h2,
.ready h2 {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 700;
    padding-bottom: 15px;
}

.ready h2 {
    width: 60%;
}


.flow .illus {
    background-color: white;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

.ready {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin: 20px 0;
}

.footer {
    display: flex;
    flex-direction: column;
    z-index: -1;

}

.footer i {

    transform: translatey(5%);
    -webkit-transform: translatey(5%);
    -moz-transform: translatey(5%);
    -ms-transform: translatey(5%);
    -o-transform: translatey(5%);
}



.footer>div {
    background-color: hsl(192, 100%, 9%);
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    padding: 40px;

}


.left,
.right {

    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    color: #ffffff;
    font-weight: 400;
    height: 320px;



}

.left p,
.right p,
.phone span,
.mail span {

    padding: 20px 10px;
    font-size: 15px;
}

.right h4 {

    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 25px;
}

div.icon {
    display: flex;
    fill: white;
    scale: 30%;
    gap: 40px;
    justify-content: flex-end;
    transform: translateX(-115%);
    -webkit-transform: translateX(-115%);
    -moz-transform: translateX(-115%);
    -ms-transform: translateX(-115%);
    -o-transform: translateX(-115%);
}

div.icon svg:hover {
    fill: #81c0fd;
    cursor: pointer;
}



.right form {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 25px;



}



.right input {
    width: 90%;
    padding: 10px;
    border-radius: 6PX;
    -webkit-border-radius: 6PX;
    -moz-border-radius: 6PX;
    -ms-border-radius: 6PX;
    -o-border-radius: 6PX;
    outline: NONE;
    margin: auto;

}



.right button {
    width: 40%;
    padding: 10px 0;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    background-color: hsl(322, 100%, 66%);
    font-weight: 700;
    text-transform: capitalize;
    align-self: center;
    transform: translateX(67%);
    -webkit-transform: translateX(67%);
    -moz-transform: translateX(67%);
    -ms-transform: translateX(67%);
    -o-transform: translateX(67%);
}

.right input:hover {
    outline: 1px solid hsl(0, 100%, 63%);
    cursor: pointer;
}

@media(min-width:768px) {


    .header>img {
        scale: 1;
        transform: translatex(0%);
        -webkit-transform: translatex(0%);
        -moz-transform: translatex(0%);
        -ms-transform: translatex(0%);
        -o-transform: translatex(0%);
    }

    .numbers {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        margin: 70px 0;
    }

    .build {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
    }

    .build span {
        width: 500px;
    }

    .illus {

        flex-direction: row;
        text-align: left;
    }

    .flow .illus {

        flex-direction: row-reverse;

    }

    .illus .text {
        padding-left: 60px;
        width: 40%;
    }

    .footer>div {
        display: flex;
        padding: 60px;
        flex-direction: row;


    }

    .left,
    .right {

        width: 40%;
    }

    .right form {

        flex-direction: row;

    }

    .right input {
        width: 80%;

    }

    .right::after {
        content: "check your email please";
        color: hsl(0, 100%, 63%);
        font-size: small;


    }

    .right button {
        width: 30%;
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        padding: 10px 15px;
    }
}